li{
  display:inline-block;
}



#content
{ text-align: left;
  width: 595px;
  padding: 0;}


.App-logo {
  height: 80px;
}


.App-header {
  background-color: rgb(5, 99, 105);
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}


.App-intro {
  font-size: large;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}






























#header
{ background: #1D1D1D url(header.png) repeat;
  height: 170px;
  width: 1000px;
  margin-left: 250px;
}


h1{
  color: #F0EFE2;
  text-align: center;
  padding-top: 50px;
}


#menubar
{ width: 600px;
  height: 72px;
  padding: 0;
  background: #1293EE;} 

ul
{ margin: 2px 0 22px 17px;}

ul li
{ list-style-type: circle;
  margin: 0 0 6px 0; 
  padding: 0 0 4px 5px;}

  #main, #logo, #menubar
{ margin-left: auto; 
  margin-right: auto;}

  
ul#menu, ul#menu li
{ float: left;
  margin: 0; 
  padding: 0;}

ul#menu li
{ list-style: none;}

ul#menu li a
{ letter-spacing: 0.1em;
  font: normal 100% arial, sans-serif;
  display: block; 
  float: left; 
  height: 37px;
  padding: 29px 26px 6px 26px;
  text-align: center;
  color: #FFF;
  text-transform: uppercase;
  text-decoration: none;
  background: transparent;} 

ul#menu li a:hover, ul#menu li.selected a, ul#menu li.selected a:hover
{ color: #FFF;
  background: #0D66A5;}


  a, a:hover
{ outline: none;
  text-decoration: underline;
  color: #FD5BFF;}

a:hover
{ text-decoration: none;}
